.container {
  @apply flex flex-col items-start justify-between sm:flex-row sm:items-center;

  &__item {
    @apply mb-2 flex flex-col justify-start gap-1;

    &-value {
      @apply text-xl font-semibold text-black dark:text-white;
    }
  }

}
